@media screen and (min-width: 1200px) and (max-width: 1825px) {
    .wpa-services-title h3 {
        font-size: 12px !important;
    }

    .wpa-footer-menu ul li a {
        font-size: 13px !important;
    }

    .wpa-margin-negative {
        margin-top: -14px !important;
    }

    .wpa-services-icon {
        padding: 0px 10px !important;
    }

    .wpa-services-title h3 {
        padding: 0px 5px !important;
    }

    .wpa-team-content {
        padding: 20px 20px !important;
    }

    .wpa-servicesbar-wrapper.wpa-services-gap {
        gap: 5px !important;
    }

    .wpa-services-icon img {
        width: 20px !important;
    }

    .wpa-pro-services-box {
        flex: 0 0 31.6% !important;
    }

    .wpa-pro-services-box-content-title h2 {
        line-height: 25px !important;
        margin-bottom: 15px !important;
    }

    .wpa-footer-menu ul li {
        padding: 0px 15px !important;
        flex: 1 !important;
    }
}

@media screen and (max-width: 1440px) {
    .wpa-our-team h4 {
        font-size: 16px !important;
    }

    .wpa-about-us-values {
        flex: 0 0 330px !important;
    }

    .wpa-team-content {
        padding: 20px 20px !important;
    }

    .wpa-statistics-content h4 {
        font-size: 16px !important;
    }

    .wpa-statistics-content h2 {
        font-size: 32px !important;
    }

    .wpa-dark-heading h4 {
        padding: 15px !important;
    }

    .wpa-statistics-inner {
        padding: 20px !important;
    }

    .wpa-coupons-and-deals-box-titile h4 {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 1750px) {
    .wpa-our-team-thumbnial {
        max-width: 450px !important;
        height: 320px !important;
    }
    .wpa-our-team h4 {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 1360px) {
    .wpa-pro-services-box {
        flex: 0 0 31% !important;
    }

    .wpa-footer-menu>.wpa-flex {
        flex-wrap: wrap !important;
    }

    .wpa-footer-menu ul {
        justify-content: center !important;
        gap: 10px !important;
    }

    .wpa-footer-menu ul li a {
        font-size: 16px !important;
    }

    .wpa-hero-wrapper::before {
        display: none !important;
    }

    .wpa-footer-menu ul li {
        margin-bottom: 12px !important;
    }

    .wpa-footer-menu ul {
        gap: 0px !important;
        margin-top: 5px !important;
    }
}

@media screen and (max-width: 1305px) {
    .wpa-services-title h3 {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1299px) {
    .wpa-header-wrapper {
        gap: 25px !important;
    }

    .wpa-desktop-menu {
        gap: 15px !important;
    }

    header .wpa-right-menu-buttons .wpa-header-my-account button {
        width: 150px !important;
    }

    .wpa-margin-negative {
        margin-top: -14px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .wpa-h3-font-size h3 a {
        font-size: 25px !important;
    }

    .wpa-h3-font-size h3 {
        font-size: 25px !important;
    }

    .wpa-h2-font-size h2 {
        font-size: 42px !important;
        line-height: 46px !important;
    }

    .wpa-quiz-content ul li {
        font-weight: 500 !important;
        line-height: 22px !important;
    }

    .wpa-h4-font-size h4 {
        font-size: 20px !important;
    }

    .wpa-coupons-and-deals-box-titile h4 {
        /* line-height: 25px; */
    }

    .wpa-h1-font-size h1 {
        font-size: 45px !important;
    }

    .wpa-footer-menu ul li {
        flex: unset !important;
    }

    .wpa-patners-wrapper {
        gap: 30px !important;
    }
}

@media screen and (max-width: 1260px) {
    .wpa-footer-menu>.wpa-flex {
        flex-wrap: wrap !important;
    }

    .wpa-footer-menu ul {
        justify-content: center !important;
        gap: 10px !important;
    }

    .wpa-theme-information-list h5 {
        font-size: 16px !important;
    }

    .wpa-themes-deatils- p {
        font-size: 16px !important;
    }

    .wpa-our-team-thumbnial {
        height: 300px !important;
    }

    .wpa-our-team h4 {
        font-size: 18px !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden !important;
    }

    .wpa-our-team span {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1199px) {
    .wpa-wrapper-sides-spacing {
        margin: 0px 50px !important;
    }

    .wpa-quiz-content button {
        margin: 20px 0px !important;
    }

    .wpa-statistics-mian {
        flex-wrap: wrap !important;
    }

    .wpa-statistics-common {
        flex: 0 0 48% !important;
    }

    .wpa-margin-botton-on-sm {
        margin-bottom: 20px !important;
    }

    .wpa-pro-services-box-content-title h2 {
        line-height: 25px !important;
        margin-bottom: 15px !important;
    }

    .wpa-footer-menu ul li {
        padding: 0px 15px !important;
        flex: unset !important;
    }

    .wpa-footer-menu>.wpa-flex {
        flex-wrap: wrap !important;
    }

    .wpa-footer-menu ul {
        justify-content: center !important;
        gap: 10px !important;
    }

    .wpa-h3-font-size h3 a {
        font-size: 22px !important;
    }

    .wpa-h3-font-size h3 {
        font-size: 22px !important;
    }

    .wpa-h2-font-size h2 {
        font-size: 38px !important;
        line-height: 44px !important;
    }

    .wpa-quiz-content ul li {
        font-weight: 500 !important;
        line-height: 22px !important;
    }

    .wpa-h4-font-size h4 {
        font-size: 18px !important;
    }

    .wpa-coupons-and-deals-box-titile h4 {
        height: 51px !important;
        font-weight: 700 !important;
    }

    .wpa-h1-font-size h1 {
        font-size: 43px !important;
    }

    .wpa-servicesbar-wrapper {
        flex-wrap: wrap !important;
    }

    .wpa-servicesbar-wrapper .wpa-services-common {
        flex: 0 0 32.3% !important;
    }

    .wpa-servicesbar-wrapper .wpa-services-common .wpa-services-title h3 {
        font-size: 14px !important;
    }

    .wpa-blogs-details p {
        font-size: 14px !important;
    }

    .wpa-paragraph-text p {
        font-size: 14px !important;
    }

    .wpa-desktop-menu li a {
        font-size: 14px !important;
    }

    .wpa-content-top-bottom-spacing {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .wpa-pro-services-box-content-title h2 {
        font-size: 22px !important;
        margin-bottom: 10px !important;
    }

    .wpa-content-top-bottom-spacing-30 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .wpa-paragraph-text p {
        line-height: 22px !important;
    }

    .wpa-hero-section-wrapper {
        padding-top: 80px !important;
        padding-bottom: 50px !important;
    }

    .wpa-pro-services-box-content-title h2 {
        font-size: 22px !important;
    }
}


@media screen and (max-width: 849px) {
    .wpa-pro-services-wrapper {
        justify-content: center !important;
    }

    .wpa-statistics-common {
        flex: 0 0 47% !important;
    }

    .wpa-coupons-and-deals-box-titile h4 {
        font-size: 18px !important;
        line-height: 18px !important;
    }

    .wpa-pro-services-wrapper .wpa-pro-services-box {
        flex: 0 0 47% !important;
    }

    .wpa-services-icon {
        padding: 0 8px !important;
    }

    .timeline-end {
        bottom: 0px !important;
    }

    .wpa-themes-without-dates .content-right {
        padding-left: 0px !important;
    }

    .wpa-search-bar-input-wrapper {
        margin-top: 10px !important;
    }

    .wpa-themes-without-dates .timeline-article {
        margin: 30px 0px !important;
    }

    .wpa-themes-without-dates .content-right-container::after {
        top: 23px !important;
    }

    .wpa-themes-blogs .content-right {
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 767px) {
    .wpa-coupons-and-deals-box {
        flex: 0 0 100% !important;
    }

    .wpa-herosection-right-image {
        padding-bottom: 20px !important;
    }

    .services-bar-off-canvas .menu a {
        padding: 8px 0px !important;
    }

    .wpa-services-bar-mobile a .wpa-services-title h3 {
        text-align: left !important;
    }

    .wpa-start-now-for-free form button {
        width: 140px !important;
    }

    .conference-timeline-content .content-right {
        padding-left: 0px !important;
    }

    .wpa-patners-wrapper .wpa-patner-icon {
        flex: 0 0 138px !important;
    }

    .wpa-p-text p {
        line-height: 26px !important;
        font-size: 14px !important;
    }

    .wpa-breadcrumb {
        flex-wrap: wrap !important;
    }

    .wpa-comments-common-content .wpa-flex {
        margin-bottom: 15px !important;
    }

    .wpa-theme-detail-page-p p {
        margin-bottom: 10px !important;
        font-size: 16px !important;
    }

    .wpa-theme-information {
        padding: 0px !important;
    }

    .wpa-button-reply {
        text-align: left !important;
    }

    .wpa-comments-common-icon.wpa-border {
        padding: 12px 0px !important;
    }

    .wpa-leave-btn {
        display: none !important;
    }

    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
        margin: 0px 0px 40px 110px !important;
    }

    .wpa-wrapper-sides-spacing {
        margin: 0px 25px !important;
    }

    .wpa-top-servicesbar {
        display: none !important;
    }

    .services-bar-off-canvas {
        display: block !important;
    }

    .wpa-services-bar-mobile {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
        padding-top: 60px !important;
    }

    .wpa-services-bar-mobile a {
        display: flex !important;
        align-items: center !important;
        font-size: 16px !important !important;
    }

    .wpa-services-bar-mobile a .wpa-services-title h3 {
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .services-bar-off-canvas .menu {
        padding: 10px !important;
    }

    .wpa-footer-menu>.wpa-flex {
        flex-wrap: wrap !important;
        max-width: 80% !important;
        margin: auto !important;
        padding-left: 15px !important;
    }

    .wpa-form-group input {
        height: 45px !important;
        padding: 10px !important;
    }

    .form-heading {
        padding: 10px 0px !important;
    }

    header {
        border-bottom: 1px solid #ccc !important;
    }

    .wpa-home-page-blogs .content-right-container,
    .wpa-news-blogs .content-right-container {
        margin: 0px 0px 40px 150px !important;
    }

    .wpa-coupons-and-deals-box-content .wpa-coupons-and-deals-box-titile h4 {
        line-height: 22px !important;
        height: unset !important;
    }

    .menuButton .menuNav li a {
        padding: 0.3em 1.2em !important;
    }

    .wpa-header-search-bar {
        position: relative !important;
        z-index: 99999999999999999999999999 !important;
    }


@media screen and (max-width: 576px) {
    .timeline-article .meta-date {
        width: 90px !important;
        height: 90px !important;
    }

    .wpa-start-now-for-free input {
        padding: 12px 140px 12px 15px !important;
    }

    .wpa-footer-content {
        padding: 30px 0px !important;
    }

    .wpa-footer-menu ul li {
        text-align: left !important;
    }

    .wpa-quiz-banner::after {
        width: 300px !important;
        right: -25px !important;
    }

    .wpa-quiz-thumnail {
        max-width: 300px !important;
    }

    .wpa-charts-content-area {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        gap: 10px !important;
        padding-top: 12px !important;
    }

    .wpa-form-padding {
        padding: 15px 10px !important;
    }

    .line-limit-1 h2 {
        display: -webkit-box !important;
        -webkit-line-clamp: 5 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden !important;
    }

    .timeline-filter-tabs button {
        width: 100px !important;
        font-weight: 400 !important;
        font-size: 14px !important;
    }

    .wpa-home-page-blogs .content-right-container,
    .wpa-news-blogs .content-right-container {
        margin: 0px 0px 40px 100px !important;
    }

    .wpa-blog-list-thumbnail {
        height: unset !important;
    }

    .adhd-top-video iframe {
        top: -30px !important;
    }

    .adhd-top-video {
        margin-bottom: 40px !important;
    }

    .wpa-quiz-content {
        margin-right: 0 !important;
    }

    .wpa-footer-menu ul li {
        margin-bottom: 8px !important;
    }

    .wpa-footer-menu ul {
        gap: 0px !important;
        margin-top: 8px !important;
    }

    .wpa-aboutus-expertiescommon {
        margin-bottom: 20px !important;
    }

    .wpa-herosection-right-image {
        padding-bottom: 15px !important;
    }

    .wpa-aboutus-experties-icon {
        width: 70px !important;
        height: 70px !important;
        flex: 0 0 70px !important;
    }

    .opacity.false {
        display: none !important;
    }

    .description::before {
        width: 150px !important;
        height: 150px !important;
        transform: translate(-50%, 20%) !important;
    }

    .wpa-directory-themes.wpa-listings .wpa-blogs-details {
        justify-content: space-between !important;
        height: 200px !important;
    }

    .wpa-accordion-title-wrapper h3 {
        font-size: 17px !important;
    }

    .pagination li:first-child a,
    .pagination li:last-child a {
        border-radius: 30px !important;
        padding: 10px 20px !important;
    }

    .wpa-table-of-content .wpa-table-of-content-data ul li {
        padding-left: 10px !important;
        font-size: 16px !important;
    }

    .wpa-table-of-content-data h3 {
        font-size: 20px !important;
    }

    .wpa-footer-description p,
    .wpa-footer-copyright p {
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 24px !important;
    }

    .timeline-article .meta-date .date,
    .timeline-article .meta-date .month {
        font-size: 18px !important;
    }

    .wpa-author-box {
        display: none !important;
    }

    .wpa-search-bar-input-wrapper {
        margin-bottom: 0px !important;
    }

    .wpa-patners-wrapper .wpa-patner-icon {
        flex: 0 0 100% !important;
    }

    .wpa-research-subcontent-container::before {
        left: 90% !important;
    }

    .research-dis .search-result-article-contents p {
        -webkit-line-clamp: 3 !important;
    }
}
